<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site_root }}">Dual Boot Patcher</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page is defined and page == 'downloads' %}active{% endif %}"><a href="{{ site_root }}downloads/">Downloads</a></li>
                <li class="{% if page is defined and page == 'supported_devices' %}active{% endif %}"><a href="{{ site_root }}supported_devices.html">Supported devices</a></li>
                <li><a href="http://forum.xda-developers.com/showthread.php?t=2447534" target="_blank">XDA</a></li>
                <li><a href="https://jenkins.noobdev.io/job/DualBootPatcher/" target="_blank">Build Server</a></li>
                <li><a href="https://www.transifex.com/dualbootpatcher/dualbootpatcher/" target="_blank">Translations</a></li>
                <li><a href="https://github.com/chenxiaolong/DualBootPatcher" target="_blank">Source</a></li>
            </ul>
        </div>
    </div>
</nav>
